.header-bar {
    height: 50px;
    line-height: 50px;
    text-align: center;

    margin-bottom: 10px;
}

.header {
    color: #0f0f0f;
    font-size: 40px;
    font-weight: bold;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

textarea {
    width: 100%;
    resize: none;
}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    flex: 1;
    margin: 0 5px;
    text-align: center;
    padding: 10px;
}

.search-column {
    max-width: 20%;
}

.queue-column {
    max-width: 25%;
}

.text-column {

}

#filter-results {
    max-width: 75%;
    margin: 10px auto 0;
    height: 75vh;
    overflow-y: scroll;
}

.filterable {
    text-align: center;
    height: 50px;
    margin: 5px;
    padding: 10px;
    background: palegreen;
}

.filterable:hover {
    background: lightgreen;
}

.filterable:active {
    background: darkseagreen;
}

/* queue-item class should have text left-aligned and buttons right-aligned */
.queue-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
    height: 50px;
}

/* queue-buttons class should have components stacked vertically */
.queue-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


/* Debug Border */
.header-bar, .column, .filterable, .queue-item {
    border: 2px dashed #f69c55;
}
